body {
	font-family: Roboto;
	font-size: large;
	color: white;
	background-color: rgb(13, 37, 94);
	background-image: url(/img/karoon.jpg);
	background-size: cover;
	background-blend-mode: color-burn;
}

.intro {
	width: 100%;
	border-style: hidden;
	border-color: rgba(red, 0, blue, 0.2);
}

#my-image {
	width: 100px;
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}
.username {
	font-weight: bold;
}

nav {
	display: block;
	margin: 80px 0px 20px 30px;
}

nav li {
	display: inline;
}
nav ul {
	margin-left: 0px;
}

em {
	color: red;
	font-style: normal;
}

h2 {
	margin: 80px 0px 60px 80px;
	font-size: 30px;
}

#my-projects {
	margin-top: 60px;
}

#jump-to-top {
	margin: 50px 0px 0px 0px;
	right: 80px;
	position: absolute;
	bottom: 200px;
}

footer li {
	list-style-type: none;
}

.vertical {
	height: 100%;
	display: inline-flex;
}

.horizontal {
	display: inline-block;
	width: 100%;
}

ul {
	margin-left: 59px;
}

video {
	width: 400px;
	/* height: 300px; */
	border-radius: 500px;
	border-top-left-radius: 0px;
}

#page-container {
	position: relative;
	min-height: 200vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7rem; /* Footer height */
	background-image: linear-gradient(
		rgba(206, 150, 8, 0.5),
		rgba(230, 230, 215, 0.5),
		rgb(41, 144, 181)
	);
}

#java-script {
	border: 10px solid rgba(203, 206, 16, 0.879);
	margin-bottom: 20px;
	border-radius: 50px;
}

#html {
	border: 10px solid rgb(185, 49, 11);
	margin-bottom: 20px;
	border-radius: 50px;
}
#css {
	border: 10px solid rgb(4, 54, 163);
	border-radius: 50px;
}

nav a {
	padding: 10px 30px;
	color: mediumspringgreen;
}

a[href="#java-script"] {
	color: yellow;
}
a[href="#html"] {
	color: red;
}
a[href="#css"] {
	color: blue;
}

a {
	color: rgb(43, 156, 77);
	padding: 5px 15px;
}
a:hover {
	font-size: larger;
	border: 3px solid rgba(135, 133, 133, 0.445);
}
