body {
	font-family: Roboto;
	font-size: large;
	color: rgba(255, 255, 255, 0.769);
	background-color: rgb(4, 15, 41);

	/* background-image: url(/img/karoon.jpg); */
	background-size: cover;
	background-blend-mode: color-burn;
}

.intro {
	width: 100%;
	border-style: hidden;
	border-color: rgba(red, 0, blue, 0.2);
}

#my-image {
	background-blend-mode: darken;
	width: 100px;
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}
.username {
	font-weight: bold;
}

nav {
	display: block;
	margin: 4vw 2vw 4vw 4vw;
}

nav li {
	display: inline;
}
nav ul {
	margin-left: 0px;
}

em {
	color: red;
	font-style: normal;
}

h2 {
	margin: 20px 0px 60px 80px;
	font-size: 30px;
}

#my-projects {
	margin-top: 60px;
}

#jump-to-top {
	margin: 50px 0px 0px 0px;
	right: 80px;
	position: absolute;
	bottom: 200px;
}

footer li {
	list-style-type: none;
}

.vertical {
	height: 100%;
	display: inline-flex;
}

.horizontal {
	display: inline-block;
	width: 100%;
}

ul {
	margin-left: 59px;
}

video {
	width: 400px;
	/* height: 300px; */
	border-radius: 500px;
	border-top-left-radius: 0px;
}

#page-container {
	position: relative;
	min-height: 200vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

#footer {
	border: 1px solid rgba(3, 3, 102, 0.653);
	border-radius: 10px;
	position: absolute;
	bottom: 1vw;
	width: 100%;
	height: 7rem; /* Footer height */
	background-image: linear-gradient(
		rgba(30, 6, 89, 0.5),
		rgba(23, 23, 53, 0.5),
		rgba(53, 8, 108, 0.628)
	);
}

#java-script {
	border: 10px solid rgba(203, 206, 16, 0.879);
	margin-bottom: 20px;
	border-radius: 50px;
	padding: 40px 20px 40px 20px;
	background-image: linear-gradient(
		rgb(57, 56, 5),
		rgb(161, 175, 50),
		rgb(109, 104, 13)
	);
}

#html {
	border: 10px solid rgb(185, 49, 11);
	margin-bottom: 20px;
	border-radius: 50px;
	padding: 40px 20px 40px 20px;
	background-image: linear-gradient(
		rgb(72, 17, 4),
		rgb(107, 46, 37),
		rgb(102, 41, 15)
	);
}
#css {
	border: 10px solid rgb(4, 54, 163);
	border-radius: 50px;
	padding: 40px 20px 40px 20px;
	background-image: linear-gradient(
		rgb(6, 5, 47),
		rgb(29, 24, 105),
		rgb(30, 15, 145)
	);
	margin-bottom: 100px;
}

nav a {
	padding: 1vw 4vw;
	color: rgba(0, 255, 255, 0.68);
	border: 3px solid rgba(11, 75, 120, 0.667);
	border-radius: 50px;
}

a {
	color: rgba(33, 96, 255, 0.947);
	padding: 5px 15px;
}
nav a:hover,
nav a::selection {
	border: 3px solid rgba(177, 13, 13, 0.779);
	border-radius: 50px;
}

nav li {
	border: 2px solid dark;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#js-logo {
	width: 200px;
	display: inline;
}

#css-logo {
	width: 200px;
}

#html-logo {
	width: 100px;
	margin-left: 40px;
}
