body {
	font-family: Roboto;
	font-size: large;
	color: rgba(255, 255, 255, 0.769);
	background-color: rgb(12, 38, 105);
	background-image: url(/img/karoon.jpg);
	background-size: cover;
	background-blend-mode: color-burn;
}

.intro {
	width: 100%;
	border-style: hidden;
	border-color: rgba(red, 0, blue, 0.2);
}

#my-image {
	background-blend-mode: darken;
	width: 100px;
	border-radius: 50px;
	float: left;
	margin-right: 10px;
}
.username {
	font-weight: bold;
}

nav {
	display: block;
	margin: 80px 0px 20px 30px;
}

nav li {
	display: inline;
}
nav ul {
	margin-left: 0px;
}

em {
	color: red;
	font-style: normal;
}

h2 {
	margin: 80px 0px 60px 80px;
	font-size: 30px;
}

#my-projects {
	margin-top: 60px;
}

#jump-to-top {
	margin: 50px 0px 0px 0px;
	right: 80px;
	position: absolute;
	bottom: 200px;
}

footer li {
	list-style-type: none;
}

.vertical {
	height: 100%;
	display: inline-flex;
}

.horizontal {
	display: inline-block;
	width: 100%;
}

ul {
	margin-left: 59px;
}

video {
	width: 400px;
	/* height: 300px; */
	border-radius: 500px;
	border-top-left-radius: 0px;
}

#page-container {
	position: relative;
	min-height: 200vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

#footer {
	border: 1px solid rgba(255, 102, 0, 0.653);
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7rem; /* Footer height */
	background-image: linear-gradient(
		rgba(25, 8, 94, 0.5),
		rgba(49, 4, 4, 0.5),
		rgb(50, 6, 60)
	);
}

#java-script {
	border: 10px solid rgba(203, 206, 16, 0.879);
	margin-bottom: 20px;
	border-radius: 50px;
}

#html {
	border: 10px solid rgb(185, 49, 11);
	margin-bottom: 20px;
	border-radius: 50px;
}
#css {
	border: 10px solid rgb(4, 54, 163);
	border-radius: 50px;
}

nav a {
	padding: 10px 30px;
	color: rgba(0, 250, 154, 0.571);
}

a[href="#java-script"] {
	color: rgba(255, 255, 0, 0.616);
}
a[href="#html"] {
	color: rgba(255, 0, 0, 0.58);
}
a[href="#css"] {
	color: rgba(0, 0, 255, 0.667);
}

a {
	color: rgba(11, 121, 44, 0.719);
	padding: 5px 15px;
}
nav a:hover {
	border: 3px solid rgba(223, 221, 221, 0.667);
	border-radius: 50px;
}

nav li {
	border: 2px solid dark;
}
